@import './Calculator.scss';

$grid-areas: (
  "1": backspace, "2": clear, "3": seven, "4": eight, "5": nine, "6": four,
  "7": five, "8": six, "9": one, "10": two, "11": three, "12": zero,
  "13": plus, "14": minus, "15": multiply, "16": divide, "17": equals
);

.button {
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;

  @each $placement, $area in $grid-areas {
    &:nth-of-type(#{$placement}) {
      grid-area: $area;
    }
  }

  &:nth-of-type(n+13):nth-of-type(-n+17) {
    background-color: #FF9900;
    font-size: 1.5rem;
  }
}