.result {
  align-items: center;
  background-color: #E7E7E7;
  border-radius: 0.5rem;
  display: inherit;
  height: 4rem;
  justify-content: flex-end;
  margin-bottom: 0.625rem;
  padding: 1rem;
  width: 100%;

  h2 {
    margin: 0;
  }
}